* {
    background:#f5f5dc;
    background-image: url(C:/Users/milto/Documents/codefellows/201/lab-2/about-me/img/marble-background.jpg)
    font-family: "Arial", sans-serif;
}

h1 {
    font-size: 100px;
    font-style: bold;
    text-align: center;
    margin-top: 40px;
}

nav > ul {
    list-style-type: none;
    font-size: 20px;
    font-style: bold;    
    text-align: center;
    margin-bottom: 50px;
}

li {
    display: inline;
}

body>ul{
    padding: 25px;
}

h3 {
    font-size: 30px;
    text-align: center;
    margin-bottom: 25px;
}

#description {
    font-size: 20px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 25px;
}

ul#been {
    display: inline;
}

#washington, #idaho, #oregon, #california, #nevada, #utah, #new-mexico, #arizona, #texas, #florida, #new-orleans, #chennai, #bahrain, #hawaii, #mississippi, #qatar, #bagram, #ireland, #scotland, #england, #germany, #france, #italy, #greece, #japan, #russia, #thailand {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
}

#me {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
}

h2 {
    text-align: center;
    font-size: 35px;
}